<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% if (locals.data) {%>
            <% data.forEach((item) => { %>
              <li>ID: <%= item.id %> <%= item.name %> <%= item.quantity %> <%= item.rating %> <%= item.category %> <%= item.description %> </li>
            <% }); %>
        <% } %>
    </ul>
</body>
</html>