<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1><%= title %></h1>
    <button ><a href="/add">Add new item</a></button>
    <form action="/reset" method="POST">
        <button type="submit">Reset Database</button>
    </form>
    <form action="/populate" method="POST">
        <button type="submit">Populate Database</button>
    </form>
    <form action="/filter" method="get">
        <label for="filterType">Filter by:</label>
        <select name="filterType" id="filterType" required>
            <option value="" disabled selected>Select a property</option>
            <option value="category">category</option>
            <option value="price">price</option>
            <option value="rating">rating</option>
            <option value="name">name</option>
        </select>
        <input type="text" name="filterInput" required>
        <button type="submit">Filter</button>
    </form>
    
    <ul>
        <% if (locals.data) {%>
            <% data.forEach((item) => { %>
              <li>ID: <%= item.id %> <%= item.name %> <%= item.quantity %> <%= item.rating %> $<%= item.price %> <%= item.category %> <%= item.description %> </li>
              <form action="/<%= item.id %>/delete" method="POST" style="display:inline">
                <button type="submit" onclick="return confirm('Are you sure you want to delete the item?');">Delete</button>
              </form>
              <form action="/<%= item.id %>/edit" method="get" style="display:inline">
                <button type="submit">edit</button>
              </form>
            <% }); %>
        <% } %>
    </ul>
</body>
</html>